eventlet>=0.40.0
flask
flask-cors
flask-login>=0.6.2
gunicorn
flask-socketio==5.3.6
python-socketio==5.7.2
flask-wtf

librosa
matplotlib
numpy
pycardano
pydub
requests
scipy
sounddevice
solana
solders
web3
python-bitcoinlib
py-solc-x

